:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 53, 122);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(153, 0, 255, 0.473);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00060728;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
  overflow-x: hidden;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--black);
  --font-weight: 400;
}

body.dark {
  --background-color: var(--black);
  --text-color: var(--white);
  --font-weight: 500;
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--text-color);

}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--background-color);

  @media screen (max-width: 960px) {
    display: none;
  }
}




.navbarItems {
  display: flex;

  @media screen (max-width: 960px) {
    display: none;
  }
}

.LinkItems {
  display: flex;

  @media screen (max-width: 900px) {
    display: none;
  }
}

.homePageContainer {
  display: flex;
  padding: 5px;
  backdrop-filter: blur(2px);
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  position: relative;

  @media screen (max-width: 960px) {
    width: 95%;
  }
}


.Layout {
  position: relative;
  width: 100%;

  @media screen (max-width: 960px) {
    display: flex;
  }
}


.projectThumbnail {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  object-fit: cover;
  height: 180px;
  width: 210px;
  flex-wrap: wrap;
}



.PostsContainer {
  display: flex;
  flex-wrap: wrap;

  @media screen (max-width: 960px) {
    flex-direction: column;
  }
}

.modalButton {
  padding: 20px;
  margin-left: 5px;
  background-color: lightblue;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 40px;
}

.modalClick {
  padding: 10px;
}

.anim {
  width: 20vw;
  height: 20vh;
  z-index: 999;
  /* background-color: black; */
}

.ModalContentID {
  width: 50px;

}

div.chakra-select__icon-wrapper.css-162mkon {
  display: none;
}